@charset "ISO-8859-1";

.banner{
	display:none;
}
.contatto{
	width:50%;
	font-size: 20px;
	margin-left: 35%;
	padding-left:1;
	font-family: "Times New Roman", Times, serif;
	color: teal;
	text-decoration: none;
}
#textarea{ resize: none;}



@media(max-width:767px){

	.contatto{
	width:30%;
	font-size: 12px;
	margin-left: 3%;
	margin-top: 10%;
	padding-left:0;
	}
 .banner{width:78%; height:50px; position:fixed; bottom:0; background:grey; display:block; margin:0; z-index:111111;}
	
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
}